### BEGIN SERVICE ###
upstream ${HOST}_upstream {
  server ${UPSTREAM}:${PORT};
}

server {
    server_name ${HOST};
    listen 80 ;

    location /.well-known/acme-challenge/ {
      auth_basic off;
      allow all;
      root /usr/share/nginx/html;
      try_files $uri =404;
      break;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}

server {
  server_name ${HOST};
  listen 443 ssl http2 ;
  ssl_session_timeout 5m;
  ssl_session_cache shared:SSL:50m;
  ssl_session_tickets off;
  ssl_certificate /etc/nginx/certs/${HOST}.crt;
  ssl_certificate_key /etc/nginx/certs/${HOST}.key;
  ssl_dhparam /etc/nginx/certs/${HOST}.dhparam.pem;
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate /etc/nginx/certs/${HOST}.chain.pem;
  add_header Strict-Transport-Security "max-age=31536000" always;
  include /etc/nginx/vhost.d/*;

  location / {
    proxy_pass http://${HOST}_upstream;
  }
}
### END SERVICE ###
