stream {

    map $ssl_preread_server_name $name {
### BEGIN SERVICE ###
        ${HOST} local_https;
### END SERVICE ###
        default fallthrough_https_upstream;
    }

    upstream fallthrough_https_upstream {
        server 127.0.0.1:445;
    }

    upstream local_https {
        server 127.0.0.1:444;
    }

    proxy_protocol on;

    server {
        listen 443;
        proxy_pass $name;
        ssl_preread on;
    }

    upstream fallthrough_final {
        server host.docker.internal:4443;
    }


    server {
        listen 445 proxy_protocol;
        proxy_pass fallthrough_final;
        ssl_preread on;
        proxy_protocol off;
    }

    include /etc/nginx/strm.d/*
}
