### BEGIN SERVICE ###
upstream ${HOST}_upstream {
  server ${UPSTREAM}:${PORT};
}

server {
    server_name ${HOST};
    listen 80 ;

    location /.well-known/acme-challenge/ {
      auth_basic off;
      allow all;
      root /usr/share/nginx/html;
      try_files $uri =404;
      break;
  }


  include /opt/nginx/vhost.d/${HOST}*;
  include /opt/nginx/vhost.d/default*;

  location / {
    proxy_pass http://${HOST}_upstream;
  }
}
### END SERVICE ###
