### BEGIN SERVICE ###
upstream ${HOST}_upstream {
  server ${UPSTREAM}:${PORT};
}

server {
  server_name ${HOST};
  listen 80;

  include /etc/nginx/vhost.d/${HOST}*;
  include /etc/nginx/vhost.d/default*;

  location / {
    include /etc/nginx/loc.d/${LE_HOST}-http-*;
    include /etc/nginx/loc.d/${LE_HOST}-all-*;
    include /etc/nginx/loc.d/default*;
    proxy_pass http://${HOST}_upstream;
  }
}
### END SERVICE ###
