### BEGIN SERVICE ###
upstream ${HOST}_upstream {
  server ${UPSTREAM}:${PORT};
}

server {
  server_name ${HOST};
  listen 80;

  include /etc/nginx/vhost.d/${HOST}*;
  include /etc/nginx/vhost.d/default*;

  location / {
    proxy_pass http://${HOST}_upstream;
  }
}
### END SERVICE ###
